.adrs h2 {
    margin: 0;
    color: #240000;
}

.phn h3 {
    margin: 0;
    color: #240000;
}

#form section {
    margin: 1rem 3rem 4rem 3rem;
    padding: 2rem;
}

#box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1 .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 123%;
}

#box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box2 .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 123%;
}

.fs {
    display: contents;
}

#btn {
    display: contents;
}

.btn {
    background-color: #140000d6;
    box-shadow: 0 0 28px black;
    color: #fdf2a1;
    padding: 1rem 0;
    width: 80%;
    margin: 1rem 2rem;
    margin-left: 11%;
}