body::before {
    content: "";
    background-image: url(../image/b.jpg);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

body {
    display: grid;

}

/* navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* image */
.img {
    display: flex;
    justify-content: space-around;
}

.img img {
    width: 30%;
}

/* Brand Name */
.brand h1 {
    font-size: 4rem;
    color: #240000;
}

@media screen and (max-width: 1422px) {
    .brand h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 820px) {
    .brand h1 {
        font-size: 3rem;
    }
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.adrs h2 {
    margin: 0.1rem;
    color: #240000;
}

.phn h3 {
    margin: 0.1rem;
    color: #240000;
}

/* form */
#pd {
    background-color: #140000d6;
    box-shadow: 0 0 28px black;
    color: #fdf2a1;
    margin: 3rem 5rem;
    border-radius: 3rem;
    padding: 1.5rem 0rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* input */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    font-size: 1.5rem;
}

.fbox {
    background-color: white;
    width: 60%;
    border-radius: 8px;
    text-align: center;
    padding: 0.3rem;
}